body {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
p,
ul {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.container {
    width: 1620px;
    margin: 0 auto;
}

.popular {
    padding-top: 60px;
    padding-bottom: 60px;
}

.popular-list {
    display: flex;
    gap: 20px;
}

.popular-item {
    background-color: #EFEFEF;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 140px;
    display: flex;
    gap: 117px;
    align-self: center;
}

.popular-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    color: #FF463A;
    padding-bottom: 10px;
    font-family: 'Releveway', sans-serif;
}

.popular-text {
    font-family: 'Releveway', sans-serif;
}

.popular-link {
    color: #000000;
    margin-top: 45px;
    padding: 15px 30px;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Releveway', sans-serif;
}

.ice-cream {
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #FFE4CC;
}

.ice-cream-title {
    font-size: 48px;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 40px;
    color: #FF463A;
    font-weight: 700;
    text-align: center;
}

.ice-cream-text {
    text-align: center;
    padding-bottom: 68px;
    font-family: 'Raleway', sans-serif;
}

.ice-cream-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contacts {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contacts-list {
    display: flex;
    gap: 20px;

}

.contacts-item {
    box-shadow: 0px 0px 17px 0px #00000040;
    padding-top: 30px;
    padding-bottom: 53px;
    width: 100%;
    text-align: center;
    border-radius: 10px;

}

.contacts-item:hover .contacts-title {

    color: #ffffff;


}

.contacts-item:hover {
    background-color: #FF463A;
}

.contacts-item:hover .contacts-link {
    color: #ffffff;

}

.contacts-title {
    font-size: 32px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 25px;
    color: #FF463A;
}

.contacts-text,
.contacts-link {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: #000000;

}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #181818;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-title {
    color: #FF993A;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    padding-left: 37px;
}

.footer-text {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.hero{
    background-color: #FFE4CC;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 57px;
}

.hero-subtitle{
    font-size: 16px;
    color: #FF993A;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
}

.hero-image {
    padding-right: 195px;
}

.hero-title{
    font-size: 48px;
    font-weight: 700;
    color: #FF463A;
    margin-bottom: 45px;
}

.hero-text{
    margin-bottom: 45px;
}

.hero-link{
    background-color: #FF463A;
    font-weight: 700;
    color: #FFFFFF;
    padding: 15px 30px;
    border-radius: 5px;
}

.header {
    padding: 20px 0px;
}

.header-container{
    display: flex;
    align-items: center;
    gap: 188px;
}

.header-title {
    color: #FF993A;
    font-size: 24px;
    font-weight: 400;
    padding-left: 37px;
    font-family: 'Oswald', sans-serif;

}

.header-list{
    display: flex;
    gap: 65px;
}

.header-link{
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

.header-link:hover{
    color: #FF993A;
}

.header-logo {
    display: flex;
    align-items: center;
}